.second {
  background-color: firebrick;
}

.first {
  text-align: center;
  background-color: firebrick;
}

#map {
        height: 400px;
        width: 50%;
        margin: 20px 25%;
        }
        
#form { 
      text-align: center;
      width: 100%;
      margin: 20px auto;
}
    

.container {
  color: white;
  max-width: 900px;
  margin: auto;
  padding: 0 30px;
}

#showcase {
  height: 300px;
}

#showcase h1 {
  font-size: 50px;
  color:white;
  line-height: 1.3;
  position: relative;
  animation-name: floatingdown;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes floatingdown {
  0% {top: -60px;}
  100%{top: 200px;}
}

#content {
  position: relative;
  animation-name: content;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes content {
  0% {left: -1000px;}
  100%{left: 0px;}
}

.btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  border: white 1px solid;
  margin-top: 40px;
  opacity: 0;
  animation-name: btn;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-duration: 1s;
}

@keyframes btn {
  0% {opacity: 0;}
  100%{opacity: 1;}
}

.btn:hover {
  transform: rotateY(180deg) rotateX(180deg);
  color: red;
  background-color: black;
}

h2, h3 {
  margin: 0 0 -.7em 0;
}

.column-layout {
  max-width: 800px;
  background-color: white;
  margin: 40px auto 0 auto;
  line-height: 1.5;
  padding: 20px 40px;
  display: flex;
}

.main-column {
  flex:3;
  order:1;
}

.sidebar-one {
  flex:1;
  order:3;
}

.bullet{
 list-style-type:square; 
}

.top-layout-container {
  display: flex;
  max-width: 900px;
  margin: 30px auto 0 auto;
  justify-content: space-between;
}

.click {
  width: 275px;
  height: 40px;
  padding: 20px 0 0 0 ;
  text-align: center;
  background-color: teal;
  color: white;
  text-decoration: none;
  animation-name: click;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-duration: 1s;
}

@keyframes click {
  0% {opacity: 1;}
  100% {opacity: 1;}
}

.click:hover {
  border-radius: 50% 50% 50% 50%;
  transform: rotateY(180deg);
  color: red;
  background-color: black;
}

.call-outs-container {
  max-width: 900px;
  display:flex;
  margin: 30px auto 0 auto;
  justify-content: space-between;
}

.call-out {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 49%;
  }

.call-out:nth-child(1) {background-color:Khaki;}
.call-out:nth-child(2) {background-color:PaleGoldenRod;}


.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: Olive;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px gray;
}

.button:hover {background-color: OliveDrab}

.button:active {
  background-color: OliveDrab;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}
  
#buttondiv {
  text-align: center;
  margin-top: 20px;
}

  

